.dashboard-fleet {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  .fleet-container {
    max-width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    .car-container {
      display: flex;
      width: 25%;
      //   border: solid 2px black;
      //   background-color: yellow;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0;
      margin-top: 1rem;
      .car-description {
        width: 100%;
        font-size: 0.9rem;
        overflow-wrap: break-word;
      }
      .car-img {
        width: 100%;
      }
      .smaller {
        position: relative;
        margin-bottom: 5%;
        scale: 125%;
        margin-top: 8%;
      }
    }
  }
}
