html {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}
body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  background-color: #181818;
}

@media screen and (max-width: 1219px) {
  body {
    overflow-y: visible;
    overflow-x: hidden;
  }
}
